<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-32973-1660213304/blob/main/DA_Assignment_3_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [5]:
s="Hi there Sam!"

In [4]:
x=txt.split()
print(x)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [9]:
d="The diameter of {planet} is {diameter} kilometers." .format(planet="Earth" , diameter=12742)

In [10]:
print(d)

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [14]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [16]:
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [17]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [19]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d["k1"][3]["tricky"][3]["target"][3])

hello

** What is the main difference between a tuple and a list? **

In [20]:
print("The list is dynamic,whereas the tuple are static characteristics")

The list is dynamic,whereas the tuple are static characteristics

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [21]:
def domainGet(email):
  return email.split('@')[-1]

In [22]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [23]:
def animal(st):
  for word in st.lower().split(): 
    if word=='dog' :
      return True

In [24]:
animal("dog is my favourite pet")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [31]:
def animals(st):
  count=0
  x=s.lower().split()
  for i in x:
    if(i=="dog"):
      count=count+1
      return count

In [33]:
animal("I have a dog and my dog is so friendly")

True

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [25]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [26]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
caught_speeding(81, False)

'Big Ticket'

In [30]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
caught_speeding(61, False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [28]:
{'Empid': 1001, 'Empname': 'Ashok', 'Basicpay' : 20000, 'DepName': 'Testing', 'DeptID':2000}

{'Empid': 1001,
 'Empname': 'Ashok',
 'Basicpay': 20000,
 'DepName': 'Testing',
 'DeptID': 2000}

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [29]:
dict1={' Emp1d ' : 1061,'Empname' : 'Ashok', 'Basicpay' : 20000}
dict2={'DepName' : 'Testing', 'DeptID' : 120}
dict3 = dict1.copy() 
dict3.update(dict2) 
print(dict3)

{' Emp1d ': 1061, 'Empname': 'Ashok', 'Basicpay': 20000, 'DepName': 'Testing', 'DeptID': 120}